/* style untuk mengatur tapilan halaman */
.container {
    width: max-content;
    align-items: center;
}

/* style untuk mengatur tampilan kalkulator */
.main-calculator {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 70px auto;
    background-color: #39ff14;
}

.main-calculator div {
    margin: 20px;
}

/* style untuk mangatur tampilan screen layar kalkulator */
.screen {
    padding: 10px;
    height: 100px;
    background-color: black;
    overflow: auto;
    text-align: right;
    display: flex;
}

/* style untuk mangatur tampilan tombol kalkulator */
.button {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    color: black;
}

/* style untuk mangatur setiap tombol */
.button div {
    cursor: pointer;
    box-sizing: border-box;
    margin: 2px;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255)    ;
    display: flex;
}

/* style untuk tulisan di dalam tombol */
.button div span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

/* style untuk tulisan di layar kallkulator */
.screen .number {
    margin: auto  ;
    color: white;
    font-family: "Kemco";
    font-size: 2rem;
}

/* style untuk tombol kembali */
.button-kembali {
    background-color:rgb(119, 0, 119);
    width: 200px;
    height: 50px;
    display: flex;
}

/* style untuk tulisan di dalam tomnol kembali */
.button-kembali span  {
    margin: auto;
}

/* style untuk menghilangkan garis link */
.button-kembali a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
