body {
    font-family: cursive;
    background-color: rgb(215, 186, 186);
}

.container {
    margin: 50px auto;
    background-color: burlywood;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.container .pilih-bangun div{
    display: flex;
}

.container .menu {
    padding: 10px;
    background-color: chartreuse;
    margin: 20px;
}

.container .keluar {
    background-color: red;
}

.container .pilih-bangun div span {
    margin: auto;
}

.container h1 {
    text-align: center;
}

.container a {
    color: white;
    text-decoration: none;
}