body {
    background: #000;
}

.container {
    margin: 30px auto;
    max-width: 400px;
    flex-direction: column;
}

.container .pilih div{
    display: flex;
}

.menu {
    padding: 10px;
    border:3px gold solid;
    margin: 20px;
}

.menu:hover {
    background: gold;
}

.keluar {
    background-color: red;
}

.pilih div span {
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}