/* || style halaaman utama */
.topbar {
    background-color: rgb(230, 192, 0);
    height: 70px;
    display: flex;
}

.topbar span {
    margin: auto;
    color: rgb(0, 0, 0);
    font-family: "Pixelmania";
}

.main {
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.kiri {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waktu ,.ucapan  {
    width: 200px;
    text-align: center;
    height: 50px;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quote {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.3rem;
    width: 300px;
    height: 200px;
    display: flex;
}

.quote span {
    margin: auto;
    text-align: center;
}

.main .menu {
    display: flex;
    flex-direction: column;
}

.main .menu .button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px gold solid;
    display: flex;
    margin: 10px;
    font-size: 1rem;
    line-height: 50px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.main .menu .button span {
    margin: auto;
}

.main .menu .button:hover {
    background-color: gold;
}
.menu .button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer {
    display: flex;
    font-size: .7rem;
    height: 50px;
    color: black;
    background: gold;
    font-family: "Pixelmania";
}

.footer span {
    margin: auto;
}


@media screen and (max-width : 630px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
}