body {
    font-family: 'Courier New', Courier, monospace;
    font-size: .9rem;
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container h2 {
    font-family: "Pixelmania";
    text-align: center;
}

#input {
    border: 2px #df00fe solid;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 300px;
    height: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.input {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tambah {
    background-color: #df00fe;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

ul li .kotak {
    display: inline-block;
    border: 2px #df00fe solid;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    text-align: center;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

li button {
    background-color: #df00fe;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

li button:nth-child(2) {
    margin-left: 30px;
}

@media screen and (max-width : 630px) {
    #input {
        height: 20px;
    }

    #tambah {
        background-color: #df00fe;
        margin-top: 20px;
        border-radius: 10px;
        font-family: 'Courier New', Courier, monospace;
    }

    .daftar-list li {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
    }

    .daftar-list li span {
        width: 350px;
        list-style: none;
        display: block;
    }

    ul {
        padding: 0;
    }

    .input {
        flex-direction: column;
        align-items: center;
    }

    li button:nth-child(2) {
        margin-left: 0px;
    }


    
}

